[[source]]
name = "ustc"
url = "https://pypi.mirrors.ustc.edu.cn/simple/"
verify_ssl = true

[dev-packages]

[packages]
PyQt5 = "==5.15.2"
PyQt5-sip = "==12.8.1"
Pillow = "==8.1.0"
pymysql = "==1.0.1"
pyqt5-tools = "==5.15.2.3"
click = "==7.1.2"
numpy = "==1.19.5"
opencv-python = "==4.5.1.48"
pyqt5-plugins = "==5.15.2.2.0.1"
python-dotenv = "==0.15.0"
qt5-applications = "==5.15.2.2.1"
qt5-tools = "==5.15.2.1.0.1"
torch = "==1.7.1"
typing-extensions = "==3.7.4.3"

[requires]
python_version = "3.8"
