# Default ignored files1
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Project\AutoParkingLot\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
